# Build
out
dist
*.ts.buildinfo
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local
scripts/test-ssh-config.json

# Dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings/

# Logs & cache
*.log
.cache
coverage/

# System Files
.DS_Store
Thumbs.db

*.vsix


# Electrobun build output
/build/
/artifacts/
/build-test/
/build-view/
electrobun-app/dist-electrobun/